.divek{
    text-align: center;
    background-color: rgb(112, 112, 112);
    width: 6rem;
    margin-left: 3.5rem;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.829);
}
.navbar{
    background-color: rgb(100, 100, 100);
}
hr{
    padding:-1px ;
}
